fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
faiss-cpu
sentence-transformers
PyPDF2
python-dotenv
pydantic[email]
pydantic-settings
pdfplumber
google-generativeai
grobid-client-python
scholarly
edge-tts
